/* TopTracks.css */
.top-tracks-container {
    padding: 20px;
}

.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.track-item:hover {
    background-color: #333;
}

.track-image {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.track-info {
    display: flex;
    flex-direction: column;
}

.play-button {
    cursor: pointer;
    margin-top: 10px;
    background-color: #1DB954;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #1ED760;
}
